<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Toilet 01</key>
	<dict>
		<key>titleKey</key>
		<string>Toilet 01</string>
		<key>latitudeKey</key>
		<string>16.777024</string>
		<key>longitudeKey</key>
		<string>96.164964</string>
		<key>idKey</key>
		<string>1</string>
		<key>subtitleKey</key>
		<string>subtitle</string>
		<key>voteKey</key>
		<string>0</string>
	</dict>
	<key>Toilet 02</key>
	<dict>
		<key>titleKey</key>
		<string>Toilet 02</string>
		<key>latitudeKey</key>
		<string>16.776768</string>
		<key>longitudeKey</key>
		<string>96.162622</string>
		<key>idKey</key>
		<string>2</string>
		<key>subtitleKey</key>
		<string>subtitle</string>
		<key>voteKey</key>
		<string>0</string>
	</dict>
	<key>Toilet 03</key>
	<dict>
		<key>titleKey</key>
		<string>Toilet 03</string>
		<key>latitudeKey</key>
		<string>16.777364</string>
		<key>longitudeKey</key>
		<string>96.160315</string>
		<key>idKey</key>
		<string>3</string>
		<key>subtitleKey</key>
		<string>subtitle</string>
		<key>voteKey</key>
		<string>0</string>
	</dict>
	<key>Toilet 04</key>
	<dict>
		<key>titleKey</key>
		<string>Toilet 04</string>
		<key>latitudeKey</key>
		<string>16.777114</string>
		<key>longitudeKey</key>
		<string>96.162486</string>
		<key>idKey</key>
		<string>4</string>
		<key>subtitleKey</key>
		<string>subtitle</string>
		<key>voteKey</key>
		<string>0</string>
	</dict>
	<key>Toilet 05</key>
	<dict>
		<key>titleKey</key>
		<string>Toilet 06</string>
		<key>latitudeKey</key>
		<string>16.782406</string>
		<key>longitudeKey</key>
		<string>96.178641</string>
		<key>idKey</key>
		<string>5</string>
		<key>subtitleKey</key>
		<string>subtitle</string>
		<key>voteKey</key>
		<string>0</string>
	</dict>
</dict>
</plist>
